<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Primera pagina web cambiada</h1>
    <p>
      Otra cosa xd dolor sit amet consectetur adipisicing elit. Optio iste eius,
      omnis, adipisci vitae aperiam similique libero nulla maxime esse tempora
      tempore? Perspiciatis harum corporis maiores vel maxime, consequatur ut?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
      laudantium quaerat dicta quos similique nostrum, ipsa officia, dolorem
      totam quis id itaque ab quo corrupti temporibus quas, porro veritatis
      perspiciatis!
    </p>
  </body>
</html>
